<div id="lineupsContainer"></div>


<script type="text/jsx">

var loadData = function (self) {

    $.ajax({
        url: self.props.url,
        dataType: 'json',
        success: function(data) {

            self.setState({ data: data });
        },
        error: function(xhr, status, err) {

            console.error(self.props.url, status, err.toString());
        }
    });
};


var Weather = React.createClass({

    render: function () {

        return (
            <div>{this.props.temp} - {this.props.desc} - {this.props.precip} - {this.props.isDome}</div>
        );
    }
});


var Gametime = React.createClass({

    render: function () {

        var gametime = this.props.gametime;
        return (
            <div>{gametime}</div>
        );
    }
});


var Teams = React.createClass({

    render: function () {

        return (
            <div>{this.props.away} vs {this.props.home}</div>
        );
    }
});


var Gameinfo = React.createClass({
    render: function () {

        var data = this.props.data;
        return (
            <div>
                <Weather temp={data.temp} desc={data.desc} precip={data.precip} isDome={data.dome} />
                <Gametime time={data.gametime} />
                <Teams home={data.home_team} away={data.away_team} />
            </div>
        )
    }
});


var Player = React.createClass({
    render: function () {

        var data = this.props.data;
        return (
            <div>{data.order} - {data.player}</div>
        );
    }
});


var Team = React.createClass({
    render: function () {

        var players = [];
        var data = this.props.data;

        for (var i in data) {
            if (data.hasOwnProperty(i)) {
                var player = data[i];
                player.order = i;
                players.push(player);
            }
        }

        players = players.map(function (player) {
            return (
                <Player data={player} />
            )
        })
        return (
            <div>{players}</div>
        );
    }
});

var Lineup = React.createClass({
    render: function () {

        var data = this.props.data;
        return (
            <div className="row">
                <div className="col-xs-12">
                    <Gameinfo data={data.info} />
                </div>
                <div className="col-xs-6">
                    <Team data={data.away} />
                </div>
                <div className="col-xs-6">
                    <Team data={data.home} />
                </div>
            </div>
        );
    }
});


var Lineups = React.createClass({
    render: function () {

        var lineups = this.props.data.map(function (lineup) {

            return (
                <Lineup data={lineup} />
            );
        });

        return (
            <div>{lineups}</div>
        );
    }
});


var LineupsContainer = React.createClass({
    getInitialState: function() {

        return { data: []};
    },
    componentDidMount: function() {

        loadData(this);
    },
    render: function () {

        return (
            <div className="container">
                <Lineups data={this.state.data} />
            </div>
        );
    }
});


React.render(
    <LineupsContainer url='/lineups' />,
    document.getElementById('lineupsContainer')
);

</script>
